MODEL_SNAPSHOT_PATH=C:/Users/oball/.cache/huggingface/hub/models--meta-llama--Meta-Llama-3.1-8B-Instruct/snapshots/8c22764a7e3675c50d4c7c9a4edb474456022b16
VLLM_PORT=8000
VLLM_MAX_MODEL_LEN=16384
VLLM_GPU_MEMORY_UTILIZATION=0.90
SEARXNG_PORT=8080
BACKEND_PORT=8001
FRONTEND_PORT=3000

IMAGEGEN_DIFFUSION_MODELS_PATH=F:/ComfyUI/ComfyUI/models/diffusion_models
IMAGEGEN_UNET_FILENAME=zImageTurbo_turbo.safetensors
